
<div class="d-flex mt-5 justify-content-center">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Engineer</h6>

        <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>ID: {{id}}</td>
                  </tr>
                  <tr>
                    <td>Email: {{email}}</td>
                  </tr>
                  <tr>
                    <td>Github: {{github}}</td>
                  </tr>
                </tbody>
              </table>
    </div>
    </div>
</div>


